.button-container {
	width: 100%;
	height: 100%;
	margin: 10px;
}

.main-button-container {
	width: 100%;
	height: 90%;
	transition: 0.25s;
	border-radius: 14px;
	border-color: var(--talent-highlight);
	border-width: 4px;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.secondary-button-container {
	width: 100%;
	height: 90%;
	transition: 0.25s;
	border-radius: 14px;
	border-color: var(--talent-secondary);
	border-width: 4px;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.main-button-container:hover {
	background-color: var(--talent-highlight);
}

.secondary-button-container:hover {
	background-color: var(--talent-secondary);
}

h4 {
	color: white;
	font-size: 16px;
}
