
.datatable-container {
    width: 100%;
    backdrop-filter: blur(8px);
}

.datatable-body {
    background-color: var(--talent-dark-background);
    max-height: 200px; /* Adjust as needed */
    overflow-y: auto;
}
.datatable-header {
    padding: 0;
    background-color: var(--talent-light-background);
    border-top: 10px solid var(--talent-secondary);
}
.datatable-header-text {
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.datatable-container * th {
    color: white;   
}
.datatable-cell {
    color: white;
    height: fit-content;
    word-break: break-all;
    align-items: center;
    justify-content: center;
    padding-left: 3%;
    padding-bottom: 3%;
}

.datatable-cell-small {
    color: white;
    height: fit-content;
    word-break: break-all;
    align-items: center;
    justify-content: center;
    padding-left: 1%;
    padding-bottom: 1%;
}

.edit-button {
    background-color: var(--talent-secondary);
}