.history-table-container {
    width: 100%;
    backdrop-filter: blur(8px);
    border-radius: 14px;
}

.history-table-header {
    padding: 0;
    background-color: var(--talent-light-background);
    height: 60px;
    border-radius: 14px 14px 0 0;
}
.history-table-body {
    max-height: 200px; /* Adjust as needed */
    overflow-y: auto;
    border-radius: 10px;
}
.history-table-body * td {
    height: 50px;
}

.history-list-element {
    background-color: var(--talent-dark-background);
    transition: 0.25s;
    border-radius: 14px;
}

.history-list-element:hover {
    background-color: var(--talent-light-background);
}