
.home-container {
    height: 100vh;
    @media (max-width : 500px) {
        height: fit-content;
    }
}

.home-container * h1 {
    font-size: 90px;
    color: white;
    font-family: "Jost";
    padding: 30px;
    @media (max-width : 500px) {
        height: 40vh;
        font-size: 50px;
    }
}
.home-container * h2 {
    font-size: 24px;
    color: white;
    padding: 40px;
}
.home-container * h2 > strong {
    font-size: 26px;
    color: var(--talent-highlight);
}
.home-container * h3 {
    font-size: 28px;
    color: var(--talent-highlight);
}