
.input-container {
    display: flex;
    justify-content: space-around;
}
.input-container-name {
    padding-top: 10px;
}
.input-value-highlighter {
    width: 5%;
    transition: 0.5s;
    align-self: flex-start;
    height: 1px;
    background-color: white;
    border: none;
}
.input-container-value {
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    border-radius: 0px;
}
.input-container-value > input {
    background-color: #ffffff00;
    width: 100%;
    color: white;
}
.input-container-value > input:focus {
    outline: none !important;    
}
.input-container * h1 {
    color: white;
}