

.logo {
    font-family: "Jost";
    font-size: 60px;
    color: white;
    margin-bottom: 15px;
    margin-top: 15px;
}

.sidenav {
    height: 100%;
    width: 375px;
    position: fixed;
    z-index: 3;
    top: 0;
    left: -325px;
    overflow-x: hidden;
    transition: 0.5s;
    flex-direction: row;
    display: flex;
  }

  .sideNavButton {
    cursor: pointer;
  }

  .sideNavButtonContainer{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45px;
    height: 100%;
    left: 330px;
}

.sidenav-highlight {
    height: 100%;
    width: 5px;
    background-color: var(--talent-highlight);

}

.inner-sidenav {
    height: 100%;
    width: 325px;
    background-color: var(--talent-navbar-background);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.link-container  {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: white;
    padding: 15px;
    padding-left: 0px;
    transition: 0.35s;
    width: 80%;
    align-self: center;
    font-size: 22px;
    margin-top: 5px;
    z-index: 1;
}

.navbar-hoverer {
    width: 325px;
    height: 63px;
    background-color: var(--talent-highlight);
    position: absolute;
    top: 130px;
    transition: 0.5s;
}

.navbar-current {
    width: 325px;
    height: 63px;
    background-color: #ffffff4b;
    position: absolute;
    top: 130px;
}

.profile-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 15%;
    left: 5%;
    width: 60%;
}

.profile-pic-container {
    background-color: var(--talent-grey);
    border-radius: 50%;
    width: 85px;
    display: flex;
    justify-content: center;
}

.profile-pic {
    border-radius: 50%;
    width: 85px;
    align-self: center;
}

.profile-text {
    color: white;
    font-size: 18px;
    margin-left: 10px;
    word-break: normal;
}

.logout {
    position: absolute;
    bottom: 5%;
    left: 65%;
    width: 10%;
}

.logout > img {
    width: max-content;
}

.mail {
    position: absolute;
    bottom: 5%;
    left: 10%;
    width: 10%;
}

.mail > img {
    width: max-content;
}

.mail-amount {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--talent-highlight);
    position: absolute;
    left: 15%;
    bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mail-amount > span {
    align-self: center;
    color: white;
}