:root {
    --talent-black: #282828;
    --talent-darker: #000000;
    
    --talent-highlight: #d4983d;
    --talent-secondary: #393939;

    --talent-dark-background: #282828;
    
    --talent-highlight-background: #d4983dc5;

    --talent-white-text: #ECECEC;

    --talent-light-background: rgba(44, 44, 44, 0.85);

    --talent-navbar-background: rgba(0, 0, 0, 0.85);
}