:root {
    --talent-grey: #393939;
    --talent-darker: #282828;
    --talent-darker: #1f1f1f;
    --talent-orange: #d4983d;
    background-color: var(--talent-black);
    display: flex;
    flex-direction: column;
}
.profile-name-text > h2{
    font-size: 70px;
    color: white;
}

.profile-title {
    color: white;
    font-size: 60px;
    align-self: center;
    margin: 20px;
}