.profile-name-text > h2{
    font-size: 36px;
    color: white;
    word-break: normal;
}

.profile-title {
    color: white;
    font-size: 42px;
    align-self: center;
    margin: 26px;
}

.profile-info-text {
    font-size: 18px;
    color: white;
}

.profile-header {
    flex-direction: row;
    @media (max-width : 500px) {
        flex-direction: column;
        width: 100%;
    }
}

.profile-img {
    @media (min-width : 500px) {
        height: 360px;
        margin-right: 100px;
    }
}